In [2]:
import os
import geopandas as gpd
import pandas as pd
import numpy as np
import json
import h3
import folium
import osmnx as ox
from shapely import wkt
from folium.plugins import HeatMap
from shapely.geometry import Polygon
import seaborn as sns

from tqdm import tqdm
import time
import Utils_hexes as uh
import parsutils as pu

In [4]:
cities = ['Svetlogorsk, Russia'] # список городов https://wiki.openstreetmap.org/wiki/Category:Cities_by_country
needed_tags = ['amenity'] # нужные тэги (https://wiki.openstreetmap.org/wiki/Tags)

tags = pu.tags_to_dict(needed_tags) # сначала преобразовываем тэги в подходящий формат
res = pu.parse_cities(cities,tags) # используем тэги и города из OSM для парсинга

  0%|                                                     | 0/1 [00:00<?, ?it/s]/Users/ivanesipov/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|█████████████████████████████████████████████| 1/1 [00:08<00:00,  8.99s/it]

In [5]:
res

,city,object,type,geometry,lat,lon
0,Svetlogorsk,amenity,atm,POINT (20.16626 54.93106),54.931062,20.166258
1,Svetlogorsk,amenity,atm,POINT (20.13474 54.94311),54.943107,20.134737
2,Svetlogorsk,amenity,atm,POINT (20.13478 54.94311),54.943112,20.134775
3,Svetlogorsk,amenity,atm,POINT (20.15061 54.94393),54.943929,20.150613
4,Svetlogorsk,amenity,atm,POINT (20.14176 54.94122),54.941224,20.141758
...,...,...,...,...,...,...
6,Svetlogorsk,amenity,waste_disposal,POINT (20.10987 54.94387),54.943875,20.109872
7,Svetlogorsk,amenity,waste_disposal,POINT (20.10879 54.94179),54.941790,20.108792
8,Svetlogorsk,amenity,waste_disposal,POINT (20.10655 54.94024),54.940243,20.106548
9,Svetlogorsk,amenity,waste_disposal,POINT (20.11162 54.94085),54.940850,20.111620
10,Svetlogorsk,amenity,waste_disposal,"POLYGON ((20.15400 54.94239, 20.15398 54.94236...",54.942356,20.154084

## Парсинг из курсовой

In [16]:
Rus_mil_cities = ['Saint-Petersburg, Russia', 'Moscow, Russia', 'Novosibirsk, Russia', 'Yekaterinburg, Russia',
                 'Kazan, Russia', 'Nizhny Novgorod, Russia', 'Челябинск, Россия', 'Самара, Россия', 'Омск, Россия',
                 'Ростов-на-Дону, Россия', 'Уфа, Россия', 'Красноярск, Россия', 'Воронеж, Россия', 'Пермь, Россия']

needed_tags = ['water', 'amenity', 'building', 'landuse', 'natural', 'places', 'public_transport',
               'bus:lanes', 'highway', 'shop', 'cuisine', 'country', 'sport', 'historic', 'language',
               'railway', 'leisure', 'natural', 'office', 'waterway', 'clothes', 'club', 'tourism']

In [32]:
tags = pu.tags_to_dict(needed_tags) # сначала преобразовываем тэги в подходящий формат
res = pu.parse_cities(Rus_mil_cities, tags) # используем тэги и города из OSM для парсинга